---
const title = "Example project";
const greeting = "Hello";
---
<!DOCTYPE HTML>
<html>
    <head>
        <title>{title}</title>
    </head>
    <body>
        <h1>{greeting}, world.</h1>
    </body>
</html>
